@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Pacifico&display=swap');


body {
  font-family: 'Inter', sans-serif;
  background-color:#F8F8F8;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hero-section {
  padding: 4rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.hero-slogan {
  font-family: 'Pacifico', cursive; /* This is a fancy font, you can choose any you like */
  color: #800020; /* Dark grey-blue, softer than black */
  font-size: 5rem; /* Large text */
  margin-bottom: 1rem;
}

.search-bar-wrapper {
  max-width: 600px; /* Set a max-width for the search bar */
  margin: 0 auto; /* Center the search bar */
}

.search-bar {
  padding: 1rem;
  border: none;
  border-radius: 25px; /* Rounded edges */
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-size: 1rem;
  outline: none;
  margin-bottom: 1rem;
}
